# Переменные окружения
.env

# Модели
*.cbm

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Виртуальные окружения
venv/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Логи
*.log